USE [MyRecipes]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 25.05.2023 14:05:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CookingStage]    Script Date: 25.05.2023 14:05:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CookingStage](
	[Id] [int] NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[DishId] [int] NOT NULL,
	[TimeInMinutes] [int] NULL,
 CONSTRAINT [PK_CookingStage] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dish]    Script Date: 25.05.2023 14:05:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dish](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[ServingQuantity] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[RecipeLink] [nvarchar](200) NULL,
	[Photo] [image] NULL,
	[PhotoPath] [nvarchar](50) NULL,
 CONSTRAINT [PK_Dish] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ingredient]    Script Date: 25.05.2023 14:05:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ingredient](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Cost] [money] NOT NULL,
	[CostForCount] [float] NOT NULL,
	[UnitId] [int] NOT NULL,
	[AvailableCount] [float] NOT NULL,
 CONSTRAINT [PK_Ingredient] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IngredientOfStage]    Script Date: 25.05.2023 14:05:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IngredientOfStage](
	[CookingStageId] [int] NOT NULL,
	[IngredientId] [int] NOT NULL,
	[Quantity] [float] NOT NULL,
 CONSTRAINT [PK_IngredientOfStage] PRIMARY KEY CLUSTERED 
(
	[CookingStageId] ASC,
	[IngredientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 25.05.2023 14:05:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Unit]    Script Date: 25.05.2023 14:05:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Unit](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Unit] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 25.05.2023 14:05:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Surname] [nvarchar](50) NOT NULL,
	[Login] [varchar](30) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[RoleId] [int] NOT NULL,
	[Img] [nvarchar](1000) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Category] ([Id], [Name]) VALUES (1, N'Десерт')
INSERT [dbo].[Category] ([Id], [Name]) VALUES (2, N'Салат')
INSERT [dbo].[Category] ([Id], [Name]) VALUES (3, N'Суп')
GO
INSERT [dbo].[CookingStage] ([Id], [Description], [DishId], [TimeInMinutes]) VALUES (6, N'Сыр натереть на мелкой терке, добавить муку, яйцо. Перемешать. Сформировать сырные палочки.', 1, 30)
INSERT [dbo].[CookingStage] ([Id], [Description], [DishId], [TimeInMinutes]) VALUES (7, N'Обжарить их в растительном масле до золотистого цвета.', 1, 20)
INSERT [dbo].[CookingStage] ([Id], [Description], [DishId], [TimeInMinutes]) VALUES (8, N'Картошку предварительно сварим в мундире.', 2, 30)
GO
SET IDENTITY_INSERT [dbo].[Ingredient] ON 

INSERT [dbo].[Ingredient] ([Id], [Name], [Cost], [CostForCount], [UnitId], [AvailableCount]) VALUES (1, N'Сыр твердый', 150.0000, 200, 4, 200)
INSERT [dbo].[Ingredient] ([Id], [Name], [Cost], [CostForCount], [UnitId], [AvailableCount]) VALUES (2, N'Яйцо куриное', 60.0000, 10, 1, 7)
INSERT [dbo].[Ingredient] ([Id], [Name], [Cost], [CostForCount], [UnitId], [AvailableCount]) VALUES (3, N'Мука', 100.0000, 1000, 4, 2)
SET IDENTITY_INSERT [dbo].[Ingredient] OFF
GO
INSERT [dbo].[IngredientOfStage] ([CookingStageId], [IngredientId], [Quantity]) VALUES (6, 1, 300)
INSERT [dbo].[IngredientOfStage] ([CookingStageId], [IngredientId], [Quantity]) VALUES (6, 2, 1)
INSERT [dbo].[IngredientOfStage] ([CookingStageId], [IngredientId], [Quantity]) VALUES (6, 3, 30)
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [Name]) VALUES (1, N'Пользователь')
INSERT [dbo].[Roles] ([Id], [Name]) VALUES (2, N'Администратор')
INSERT [dbo].[Roles] ([Id], [Name]) VALUES (3, N'Шеф-повар')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
INSERT [dbo].[Unit] ([Id], [Name]) VALUES (1, N'шт.')
INSERT [dbo].[Unit] ([Id], [Name]) VALUES (3, N'мл')
INSERT [dbo].[Unit] ([Id], [Name]) VALUES (4, N'г')
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Surname], [Login], [Password], [RoleId], [Img]) VALUES (1, N'Иванов', N'user1', N'qwerty', 1, N'img.png')
INSERT [dbo].[Users] ([Id], [Surname], [Login], [Password], [RoleId], [Img]) VALUES (2, N'Смирнов', N'user2', N'qwerty', 2, N'img1.png')
INSERT [dbo].[Users] ([Id], [Surname], [Login], [Password], [RoleId], [Img]) VALUES (3, N'Воробьев', N'user3', N'qwerty', 3, N'img2.png')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[CookingStage]  WITH CHECK ADD  CONSTRAINT [FK_CookingStage_Dish] FOREIGN KEY([DishId])
REFERENCES [dbo].[Dish] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CookingStage] CHECK CONSTRAINT [FK_CookingStage_Dish]
GO
ALTER TABLE [dbo].[Dish]  WITH CHECK ADD  CONSTRAINT [FK_Dish_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([Id])
GO
ALTER TABLE [dbo].[Dish] CHECK CONSTRAINT [FK_Dish_Category]
GO
ALTER TABLE [dbo].[Ingredient]  WITH CHECK ADD  CONSTRAINT [FK_Ingredient_Unit] FOREIGN KEY([UnitId])
REFERENCES [dbo].[Unit] ([Id])
GO
ALTER TABLE [dbo].[Ingredient] CHECK CONSTRAINT [FK_Ingredient_Unit]
GO
ALTER TABLE [dbo].[IngredientOfStage]  WITH CHECK ADD  CONSTRAINT [FK_IngredientOfStage_CookingStage] FOREIGN KEY([CookingStageId])
REFERENCES [dbo].[CookingStage] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[IngredientOfStage] CHECK CONSTRAINT [FK_IngredientOfStage_CookingStage]
GO
ALTER TABLE [dbo].[IngredientOfStage]  WITH CHECK ADD  CONSTRAINT [FK_IngredientOfStage_Ingredient] FOREIGN KEY([IngredientId])
REFERENCES [dbo].[Ingredient] ([Id])
GO
ALTER TABLE [dbo].[IngredientOfStage] CHECK CONSTRAINT [FK_IngredientOfStage_Ingredient]
GO
